$orange:rgb(238, 136, 53);

.filters__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  padding: 20px 0;
}

.filter__list {
  max-height: 20vh;
  padding: 0.5rem;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(177, 177, 177);
    border-radius: 5px;  
  }
  &::-webkit-scrollbar-thumb {
    background-color:$orange;
    border-radius: 5px; 
  }

}

.filter__title {
  font-weight: 700;
  padding: 0.5rem 0;
}

.products_container {
  width: 75%;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px 0;
  gap: 10px;
  font-size: 14px;
};

.product-list-table {
  flex-direction: row;
}

.product-list-list {
  flex-direction: column;
}

.product-item {
  flex-basis: 30%;
  flex-grow: 0;
  max-width: 60%;
  padding: 10px;
  border: 1px solid black;
};

.hidden {
  display: none;
};

.product-item__thumb {
  width: 100%;
  height: auto;
  max-height: 20vh;
};

// .product-item__props{

// };
// .product-item__title {

// };
.product-item__button-container {
  display: flex;
  gap: 5px;
}
.product-item__buy,
.product-item__details {
  border: 1px solid rgb(32, 32, 32);
  background: grey;
  border-radius: 2px;
  width: 50%;
  margin: 0 auto;
};

.filter__button-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.filter__button {
  width: 150px;
  height: 30px;
  padding: 0 0.5rem;
  border: 1px solid $orange;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $orange;
  }
}

.filter__checkbox-item {
  position: relative;
}
.checkbox-amount-container {
  display: inline-block;
  position: absolute;
  right: 0;
}

.filter__checkbox-input {
  opacity: 0;
  z-index: -1;
  position: absolute;

}
.filter__checkbox-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #adb5bd;
    border-radius: 0.2em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.filter__checkbox-input:checked+label::before {
  border-color: $orange;
  background-color: $orange;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter__checkbox-input:checked + * {
  font-weight: bold;
}

.catalogue-helpers {
  display: flex;
  justify-content: space-around;
}

.filter__button-copied {
  border: 1px solid rgb(240, 96, 30);
}

// double-range-slider

.filter__slider {
  position: relative;
  width: 100%;
  padding: 10px;
}

.filter__slider-container{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.filter__slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: $orange;
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: $orange;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $orange;
  pointer-events: auto;
}

input[type="range"]::-ms-thumb{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $orange;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 3px solid $orange;
}

.filter-values {
  position: relative;
  margin: auto;
  padding: 10px;
  border: 1px solid $orange;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #353535;
}

.filter-values__item {
  display: inline-block;
}

.filter-value__one-span {
  width: 100%;
}

.products__display-options {
  display: flex;
  gap: 10px;
}
.products__display-icon {
  width: 30px;
  height: 30px;
  background: url('./assets/table.png') no-repeat center;
  background-size: 100%;
}
#list {
  background: url('./assets/list.png') no-repeat center;
  background-size: 100%;
}

.active-icon {
  border: 1px solid $orange;
}

//search

input[type='search'] {
  outline: none;
  &:focus {
    border: none;
    outline: $orange 1px solid;
}
}

//sort

.sort-options-list {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  &:focus {
    border: none;
    outline: $orange 1px solid;
  }
}

