.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__number {
    font-size: 10rem;
    font-weight: 900;
  }

  &__description {
    font-size: 1.5rem;
    text-align: center;
  }
}

@import '../media/error';

