.filters__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.filter__list {
  max-height: 20vh;
  padding: 0.5rem;
  overflow-y: auto;
  border: 2px solid $color4;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $color1;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color3;
    border-radius: 5px;
  }
}

.filter__found-count {
  font-size: 1.3rem;
}

.filter__title {
  font-weight: 700;
  padding: 0.5rem 0;
}

.products_container {
  width: 75%;
  padding: 20px 0;
}

.products-container {
  padding: 30px 0;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.product-list-table {
  flex-direction: row;
}

.product-list-list {
  flex-direction: column;
}

.product-item {
  padding: 10px;
  min-height: 300px;
  width: 330px;
  box-shadow: 2px 2px 6px 2px rgb(214, 214, 214), -2px -2px 6px 2px rgb(214, 214, 214);

  & h3 {
    font-size: 1.2rem;
  }

  &__price {
    font-size: 1.05rem;
  }
}

.hidden {
  display: none;
}

.product-item__thumb {
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 0 0;
  transition: $transition;
  &:hover {
    transform: scale(1.02);
  }
}

.product-item__props {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}

.product-item__button-container {
  display: flex;
  gap: 5px;
}
.product-item__buy,
.product-item__details {
  border: none;
  outline: none;
  padding: 3px 0;
  margin: 0 auto;
  width: 50%;

  height: 36px;
  color: $color1;
  background: $color3;
  border-radius: 3px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    opacity: 0.8;
  }
}

.product-item__added {
  background: $color2;
}

.filter__button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  padding: 0.5rem;

  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: $color1;
  background: $color3;
  transition: $transition;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.filter__checkbox-item {
  position: relative;
}
.checkbox-amount-container {
  display: inline-block;
  position: absolute;
  right: 0;
}

.filter__checkbox-input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.filter__checkbox-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #adb5bd;
    border-radius: 0.2em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.filter__checkbox-input:checked + label::before {
  border-color: $color3;
  background-color: $color3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter__checkbox-input:checked + * {
  font-weight: bold;
}

.catalogue-helpers {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

.filter__button-copied {
  transition: $transition;
  background: $color1;
  color: $color3;
}

// double-range-slider

.filter__slider-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.filter__slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type='range']::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type='range']::-ms-track {
  appearance: none;
  height: 5px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: $color3;
  cursor: pointer;
  margin-top: -6px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color3;
  pointer-events: auto;
}

input[type='range']::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color3;
  pointer-events: auto;
}
input[type='range']:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid $color3;
}

.filter-values {
  margin: auto;
  padding: 10px;
  border: 2px solid $color3;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #353535;
}

.filter-values__item {
  display: inline-block;
}

.filter-value__one-span {
  width: 100%;
}

.products__display-options {
  display: flex;
  gap: 10px;
}
.products__display-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#table {
  background: url('../assets/table.png') no-repeat center;
  background-size: 100%;
}

#list {
  background: url('../assets/list.png') no-repeat center;
  background-size: 100%;
}

.active-icon {
  border: 2px solid $color3;
}

//search

input[type='search'] {
  outline: none;
  border: none;
  padding: 3px;
  &:focus {
    outline: none;
    border: none;
    outline: $color3 1px solid;
  }
}

//sort

.sort-options-list {
  border: none;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  color: $color1;
  background-color: $color3;

  &:focus {
    border: none;
    outline: none;
  }
}

@import '../media/main';