.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.74);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 5px 30px 15px;
    width: 450px;

    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px $color1;

    color: $color1;
    background: $color2;
  }

  &__header {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 30px;
}

.modal__info {
  display: flex;
  width: 100%;
  height: 100%;

  border-radius: 3px;
  padding: 0 5px;
}

.credit-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 300px;

  padding: 25px 5px 10px;

  border-radius: 5px;
  background: $color1;
  border: 3px solid $color3;

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
    width: 100%;

    & .input-wrapper {
      display: flex;
      justify-content: flex-start;
      height: 30px;
    }

    & .credit-card__info {
      height: 100%;
      width: 100%;

      border-radius: 5px;

      text-align: center;
    }

    .logo {
      width: 50px;
      height: 30px;
      background-image: url('../assets/card.png');
      background-size: 100% 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & .credit-card__valid {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      width: 40%;

      & .info-title {
        padding-top: 3px;
        color: $color2;
      }

      & .input-wrapper {
        flex-direction: column;
        justify-content: start;
        gap: 5px;

        height: 50px;
      }

      & .credit-card__info {
        width: 100%;
        height: 50%;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

}

.input-error {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container-message {
  padding: 20px;
  background: rgb(44, 44, 44);
  color: #fff;
}

.confirm {
  width: 140px;
  height: 35px;

  border-radius: 5px;

  background: $color3;
  color: $color1;

  font-weight: 600;

  transition: $transition;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@import '../media/modal';