.container__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .crumbs {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: $color2;
    // background: $color2;
  }

  & .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 15px;
    min-height: 650px;
    
    background-color: $color2;

    &__title {
      width: 100%;
      padding: 10px;

      font-size: 2rem;
      text-align: center;

      font-weight: 600;
      color: $color1;
      border-radius: 13px 13px 0 0;
    }

    &__info {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 10px;
      gap: 5px;

      // background-color: rgb(126, 168, 204);
      border-radius: 0 0 12px 12px;

      &-images {
        display: flex;
        justify-content: space-between;
        width: 40%;
        // min-height: 500px;

        & .side__images {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 80px;

          &-item {
            width: 100%;
            border-radius: 5px;
            outline: 2px solid $color3;
            cursor: pointer;
            transition: $transition;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        & .head__image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        & .thumbnail {
          width: 85%;
          border-radius: 15px;
        }
      }

      &-details {
        display: flex;
        flex-direction: column;
        // justify-content: center;
                padding-top: 40px;
        // justify-content: center;
        gap: 15px;
        width: 40%;

        & .details {
          font-size: 14px;
          text-align: center;
          display: flex;
          // align-items: flex-end;

          border-radius: 5px;

          &__header {
            width: 40%;
            font-weight: 800;
            text-align: left;
            border-radius: 5px 5px 0 0;
            color: $color1;
          }
          &__inner {
            display: flex;
            align-items: flex-end;
            width: 50%;
            text-align: left;
            color: $color1;
          }
        }
      }
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 50px;
      gap: 5px;
      &-buttons {
        display: flex;
        gap: 10px;
      }
      &-price {
        font-size: 2rem;
        color: $color1;
        font-weight: 600;
      }

      &-add, &-buy {
        width: 170px;
        padding: 10px;
        font-weight: 600;
        color: $color1;
        background: $color3;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@import '../media/product';
