@import './components/main/main';
@import './components/error-page/error';
@import './components/product-details/_product';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color: rgb(212, 212, 212);

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: $color;
}