@import './components/main/main';
@import './components/error-page/error';
@import './components/product-details/product';
@import './components/cart/cart';
@import './components/cart/modal';
@import './components/main/preloader/preloader';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$color: rgb(212, 212, 212);
$mainFont: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background: rgb(156, 156, 156);

    &-home {
      font-weight: 800;
      cursor: pointer;
    }

    &-money {
    }

    &-cart {
      display: flex;
      justify-content: end;
      align-items: flex-end;
      width: 40px;
      height: 40px;

      background-image: url('./assets/cart.jpg');
      background-size: 100% 100%;

      cursor: pointer;
    }

    .cart-count {
      width: 20px;
      height: 20px;

      text-align: center;

      border: 2px solid red;
      border-radius: 100%;

      background: $color;
      font-weight: 800;
    }
  }
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  width: 100%;
  background: rgb(156, 156, 156);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  &__logo {
    width: 80px;
    display: flex;
    justify-content: start;

    & #rsschool {
      width: 80px;
    }

    & #rsschool path,
    #rsschool:hover .st3 path {
      fill: #fff;
      width: 80px;
      transition: all 0.3s ease;
    }

    & #rsschool .st3 path {
      fill: #000;
    }

    & #rsschool:hover path {
      fill: red;
    }
  }

  &__year {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__github {
    width: 150px;
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
  }

  & .github path, & .github:hover text {
    transition: all 0.3s ease;
  }

  & .github:hover path, & .github:hover text {
    fill: red;
  }
}
