@import './components/main/main';
@import './components/error-page/error';
@import './components/product-details/_product';
@import './components/cart/_cart';
@import './components/main/preloader/preloader';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color: rgb(212, 212, 212);

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background: rgb(156, 156, 156);

    &-home {
      font-weight: 800;
    }

    &-money {
    }

    &-cart {
      display: flex;
      justify-content: end;
      align-items: flex-end;
      width: 40px;
      height: 40px;

      background-image: url('./assets/cart.jpg');
      background-size: 100% 100%;

      cursor: pointer;
    }

    .cart-count {
      width: 20px;
      height: 20px;

      text-align: center;

      border: 2px solid red;
      border-radius: 100%;

      background: $color;
      font-weight: 800;
    }
  }
}

.main-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: $color;
}
